/* Global Styles */
body {
   /* background-color: #121212; */
   color: #E0E0E0;
   font-family: 'Poppins', sans-serif;
   margin: 0;
   padding: 0;
}

.App, .container {
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;
   padding: 20px;
}

/* Home Page */
.events {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
   gap: 20px;
   width: 100%;
   max-width: 1200px;
   margin: auto;
}

.event {
   background-color: transparent;
   backdrop-filter: blur(5px);
   padding: 20px;
   border-radius: 10px;
   box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
   transition: transform 0.3s ease-in-out;
}

.event:hover {
   transform: translateY(-5px);
}

.event h2 {
   color: #BB86FC;
}

.event p {
   color: #B0BEC5;
   font-size: 14px;
}

img {
   width: 200px;
    height: 300px;
    object-fit: cover;
   border-radius: 8px;
}

/* Buttons */
.buttons {
   margin-top: 1rem;
   display: flex;
   gap: 1rem;
   justify-content: center;
}
button {
   padding: 10px 15px;
   border: none;
   border-radius: 5px;
   cursor: pointer;
   font-weight: bold;
   transition: all 0.3s ease-in-out;
}

.delete-button{
   background: #CF6679;
   color: white;
}

.delete-button:hover{
   background: #B00020;
}

.update {
   background: #03DAC6;
   color: black;
}

.update-button:hover {
   background: #018786;
}

/* Add & Update Forms */
.form {
   background: #1E1E1E;
   padding: 30px;
   border-radius: 10px;
   width: 100%;
   max-width: 400px;
   box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
   display: flex;
   flex-direction: column;
   gap: 15px;
}

input {
   width: 100%;
   padding: 12px;
   border: 1px solid #424242;
   border-radius: 5px;
   background: #2A2A2A;
   color: white;
   font-size: 16px;
   margin: 1rem 0;
}

input:focus {
   outline: none;
   border-color: #BB86FC;
   box-shadow: 0px 0px 8px rgba(187, 134, 252, 0.5);
}

.primary-button {
   background: linear-gradient(45deg, #BB86FC, #3700B3);
   color: white;
   width: 50%;
}

.primary-button:hover {
   background: linear-gradient(45deg, #3700B3, #BB86FC);
}